<section class="container row mx-auto align-items-center gx-5">

  <figure class="col-md-6">
    <img src="" alt="" class="img-fluid">
    <h2> teste</h2>
  </figure>

  <article class="col-md-6">

    <div class="teste mx-auto shadow-sm bg-white p-2 px-md-5">

      <div class="d-flex text-center ">

        <div class="col-6 ">
          <a [routerLink]="['']" class=" text-decoration-none "> Login </a>

        </div>
        <div class="col-6">
          <a [routerLink]="['signup']" class="text-decoration-none"> SignUp </a>
        </div>

      </div>


      <router-outlet></router-outlet>

    </div>

  </article>

</section>
