
<section class="conatiner  ">



  <table class="table mt-5 mx-auto w-75 bg-body text-primary">

    <thead class="border-primary text-center p-2 ">
      <tr class="align-middle ">
        <th scope="col">#</th>
        <th scope="col"> Nome </th>
        <th scope="col"> Email </th>
        <th scope="col"> Idade </th>
        <th scope="col">
          <app-modal></app-modal>
        </th>

      </tr>

    </thead>

    <tbody class="text-center">

      <tr class="align-middle">
        <th scope="row">1</th>
        <td> Mark </td>
        <td> mark@hotmail.com </td>
        <td> 15 </td>
        <td class="btn-group">
          <button class="btn btn-success">
            <i class="bi bi-pencil-square"></i>
            Editar
          </button>
          <button class="btn btn-danger">
            <i class="bi bi-trash"></i>
            Excluir
          </button>
        </td>
      </tr>


    </tbody>

  </table>



</section>


