// Imports
@import 'assets/scss/vars';
@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-icons/font/bootstrap-icons.css";

// Global Styles
.dashboard__section{
  height: calc(100vh - 3.6rem);
}

.form-control:focus {
  background: none;
}

.input::placeholder {
  color: $primary;
}

.card-default {

  height: 30rem;
  width: 25rem;

}
