// Imports
@import 'assets/scss/vars';
@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-icons/font/bootstrap-icons.css";

// Global Styles
.form-control:focus {
  background: none;
}

.input::placeholder {
  color: $indigo-300;
}

.card-default {

  height: 30rem;
  width: 25rem;

}
