<form class="form mx-auto mt-3" [formGroup]="loginForm">

  <div class=" mb-3 ">

    <label for="email" class="form-label text-primary ps-2"> Email </label>
    <div class="input-group position-relative d-flex align-items-center">
      <input
        type="email"
        class="form-control text-primary rounded border-primary input ps-4 "
        aria-label="Email"
        placeholder="seuemail@hotmail.com"
        id="email"
        formControlName="email"
      >
      <i class="bi bi-person-fill position-absolute px-2 text-primary"></i>
    </div>
    <app-message name="Email" [field]="loginForm.controls?.['email']"></app-message>

  </div>

  <div class="mb-3">

    <div class=" mb-3 ">

      <label for="password" class="form-label text-primary ps-2"> Senha </label>
      <div class="input-group position-relative d-flex align-items-center">
        <input
          type="password"
          class="form-control text-primary rounded border-primary input ps-4"
          aria-label="Senha"
          placeholder="Senha"
          id="password"
          formControlName="password"
        >
        <i class="bi bi-lock-fill position-absolute px-2 text-primary"></i>

      </div>
      <app-message [field]="loginForm.controls?.['password']"></app-message>

    </div>

    <div class="form-check mt-1">
      <label class="form-check-label" for="defaultCheck1">
        Lembre-me
      </label>
      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
    </div>

  </div>

  <div class="d-grid ">
    <button
      type="button"
      class="btn btn-primary text-secondary"
      [disabled]="loginForm.invalid"
      (click)="login()"
    > Entrar </button>

  </div>

</form>
