<form class="form mx-auto mt-3" [formGroup]="signupForm" >

  <div class="mb-3">

    <label for="user" class="form-label text-primary ps-2"> Usuário </label>
    <div class="input-group position-relative d-flex align-items-center">
      <input
        type="text"
        class="form-control text-primary rounded border-primary input ps-4"
        aria-label="Usuário"
        placeholder="Usuário"
        id="user"
        formControlName="userName"
      >
      <i class="bi bi-person-fill position-absolute px-2 text-primary"></i>
    </div>
    <app-message
        *ngIf="signupForm.get('userName')?.errors?.['required']
          && signupForm.get('userName')?.touched"
        message="Usuário obrigatório"
    >
    </app-message>

  </div>

  <div class=" mb-3 text- ">

    <label for="email" class="form-label text-primary ps-2"> Email </label>
    <div class="input-group position-relative d-flex align-items-center">
      <input
      type="email"
      class="form-control text-primary rounded border-primary input ps-4 "
      aria-label="Email"
      placeholder="seuemail@hotmail.com"
      id="email"
      formControlName="email"
      >
      <i class="bi bi-envelope-fill position-absolute px-2 text-primary"></i>
    </div>
    <app-message
      *ngIf="signupForm.get('email')?.errors?.['required']
        && signupForm.get('email')?.touched"
      message="Email obrigatório"
    >
    </app-message>
    <app-message
      *ngIf="signupForm.get('email')?.errors?.['email']
        && signupForm.get('email')?.touched"
      message="Email no formato invalido"
    >
    </app-message>

  </div>

  <div class=" mb-3 ">

    <label for="password" class="form-label text-primary ps-2"> Senha </label>
    <div class="input-group position-relative d-flex align-items-center">
      <input
        type="password"
        class="form-control text-primary rounded border-primary input ps-4"
        aria-label="Senha"
        placeholder="Senha"
        id="password"
        formControlName="password"
      >
      <i class="bi bi-lock-fill position-absolute px-2 text-primary"></i>

    </div>
    <app-message
        *ngIf="signupForm.get('password')?.errors?.['required']
          && signupForm.get('password')?.touched"
        message="Senha obrigatória"
      >
      </app-message>
      <app-message
        *ngIf="signupForm.get('password')?.errors?.['minlength']
          && signupForm.get('password')?.touched"
        message="Tamanho mínimo de 6 caracteres"
      >
      </app-message>

  </div>

  <div class="d-grid">
    <button
      type="button"
      class="btn btn-primary text-secondary"
      [disabled]="signupForm.invalid"
      (click)="signup()"
    >
      Cadastrar
    </button>
  </div>

</form>
