<form action="" class="form mx-auto mt-3" >

  <div class=" mb-3 ">

    <label for="user" class="form-label text-primary ps-2"> Usuário </label>
    <input
      type="text"
      class="form-control text-primary rounded border-primary"
      aria-label="Usuário"
      placeholder="Usuário"
      id="user"
      formControlName="userName"
    >

  </div>

  <div class=" mb-3 ">

    <label for="email" class="form-label text-primary ps-2"> Email </label>
    <input
      type="email"
      class="form-control text-primary rounded border-primary"
      aria-label="Email"
      placeholder="Email"
      id="email"
      formControlName="email"
    >

  </div>

  <div class=" mb-3 ">

    <label for="password" class="form-label text-primary ps-2"> Senha </label>
    <input
      type="password"
      class="form-control text-primary rounded border-primary "
      aria-label="Senha"
      placeholder="Senha"
      id="password"
      formControlName="password"
    >

  </div>

  <div class="d-grid">
    <button
      type="button"
      class="btn btn-primary text-secondary"

    >
      Entrar
    </button>
  </div>

  <hr class="bg-primary mt-5">

  <p class="text-center text-primary mt-2"> Entre com </p>


</form>
