<button
  type="button"
  class="btn btn-primary text-secondary w-75 fw-bold d-inline-flex align-items-center justify-content-center"
  (click)="openModal(template)"
>
  <i class="bi bi-person-plus-fill fs-5" aria-label="Cadastrar"></i>
  <p class="d-none d-sm-table my-0 ms-2 fw-bold fs-5"> Cadastrar </p>

</button>

<ng-template #template>

  <div class="modal-header">
    <h4 class="modal-title float-left"> Cadastrar </h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>

  <div class="modal-body">

    <form class="form container"  [formGroup]="formDash">

      <div class="mb-3">
        <label for="name"> Nome </label>
        <input
          type="text"
          class="form-control"
          id="name"
          formControlName="fullName"
        >
      </div>

      <div class="mb-3">
        <label for="email"> Email </label>
        <input
          type="email"
          id="email"
          class="form-control"
          formControlName="email"
        >
      </div>

      <div class="mb-3">
        <label for="age"> Idade </label>
        <input
          type="number"
          class="form-control"
          id="age"
          formControlName="age"
        >
      </div>

      <div class="btn-group ">

        <button
          type="button"
          class="btn btn-primary text-secondary"
          [disabled]="formDash.invalid"
          (click)="register()"
        >
          Cadastrar
        </button>

        <button
          type="button"
          class="btn btn-primary text-secondary "
          [disabled]="formDash.invalid"
          (click)="cancel()"
        >
          Cancelar
        </button>

      </div>

    </form>

  </div>

</ng-template>






