<form class="form container">

  <div class="mb-3">
    <label for="name"> Nome </label>
    <input type="text" class="form-control" id="name">
  </div>

  <div class="mb-3">
    <label for="email"> Email </label>
    <input type="email" id="email" class="form-control" >
  </div>

  <div class="mb-3">
    <label for="name"> Idade </label>
    <input type="number" class="form-control" id="name">
  </div>

  <div class="btn-group text-center">
    <button type="submit" class="btn btn-primary text-secondary" [disabled]=""> cadastrar </button>
    <button type="submit" class="btn btn-primary text-secondary" [disabled]=""> cancelar </button>
  </div>

</form>
